<p class="separator">SOBRE MI</p>
<h2 class="intro">Graduado de soyHenry, aprendi a utilizar JavaScript y combinarlo con tecnologías tanto de back como de front end.</h2>
<h2 class="intro num2">Mis inicios en la programación se remontan a cuando tenia 13 años, donde empece el desarrollo de videojuegos con GameMaker, para luego de unos años dar el paso a Unity3D donde por primera vez hice código propio en Javascript y C#.</h2>



<p class="title">Mis tecnologias de BackEnd</p>
<div class="technologies num1">
    <img src="https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg" alt="ExpressJS" height="60px">
    <img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-icon.svg" alt="PostgreSQL" height="60px">
    <fa-icon class="icons" [icon]="faJs" style="color: rgb(247, 247, 54);"></fa-icon>
    <fa-icon class="icons" [icon]="faNode" style="color: rgb(140, 223, 119);"></fa-icon>
</div>


<p class="title">Mis tecnologias de FrontEnd</p>
<div class="technologies num2">
    <i class='bx bxl-html5' style="color: rgb(233, 90, 34);"></i>
    <i class='bx bxl-css3' style="color: rgb(85, 151, 236);"></i>
    <fa-icon class="icons" [icon]="faAngular" style="color: rgb(206, 37, 37);"></fa-icon>
    <fa-icon class="icons" [icon]="faReact" style="color: rgb(91, 172, 248);"></fa-icon>
    <i class='bx bxl-redux' style="color: rgb(138, 74, 221);"></i>
</div>


<p class="separator">CONTACTO</p>

<p class="contactInfo">Si mi perfil te llama la atención, no dudes en contactarme por alguna de mis redes sociales :)</p>
<div class="contact">
    <a href="https://github.com/DemianFerreyra" target="_blank">
        <fa-icon class="icons" [icon]="faGitHub" ></fa-icon>
    </a>
    <a href="mailto:demiancra@gmail.com">
        <i class='bx bxl-gmail' style="color: rgb(233, 56, 56);" ></i>
    </a>
    <a href="https://www.linkedin.com/in/demian-ferreyra-95296a227" target="_blank">
        <fa-icon class="icons" [icon]="faLinkedin" style="color: rgb(101, 163, 221);"></fa-icon>
    </a>
</div>